<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miracle.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- TelephonyManager权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- end -->


    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- end -->


    <!-- 网络图片权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- end -->


    <!-- wifi权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- end -->

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".MyMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.miracle.activity.ExplainActivity" >
        </activity>
        <activity android:name="com.miracle.wheel.activity.timeselect.TimeSelectActivity" >
        </activity>
        <activity android:name="com.miracle.activity.yt2glu.ReceiveActivity" >
        </activity>
        <activity android:name="com.miracle.commonlist.activity.listview.ListViewActivity" >
        </activity>
        <activity android:name="com.miracle.expandable.activity.expandable.ExpandableActivity" >
        </activity>
        <activity android:name="com.miracle.roundprogress.activity.roundprogressbar.RoundProgressActivity" >
        </activity>
        <activity android:name="com.miracle.telephony.activity.telephony.TelephonyManagerActivity" >
        </activity>
        <activity android:name="com.miracle.netjudge.activity.netjudge.NetJudgeActivity" >
        </activity>
        <activity android:name="com.miracle.water.activity.water.WaterRippleActivity" >
        </activity>
        <activity android:name="com.miracle.ormlite.activity.testormlite.TestOrmliteActivity" >
        </activity>
        <activity android:name="com.miracle.netimage.activity.netimage.NetImageActivity" >
        </activity>
        <activity android:name="com.miracle.wlan.activity.wlan.WLanActivity" >
        </activity>
        <activity android:name="com.miracle.commonlist.activity.dialogset.MyDialogActivity" >
        </activity>
    </application>

</manifest>